@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.offer_container {
  background: #fff;
  margin: 0 auto;
  padding: 120px 95px 0;
  max-width: 1440px;
  height: 570px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.stroke {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-top: 80px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.item {
  width: 25%;
  text-align: center;
}

.support_img {
  margin: 4px 110px 46px 110px;
}

.communication_img {
  margin: 8px 107px 50px 105px;
}

.booking_img {
  margin: 17px 98px 57px 98px;
}

.reviews_img {
  margin: 4px 102px 53px 102px;
}

.footer_container {
  background-color: #10367c;
  color: #fff;
  margin: 0 auto;
  padding: 120px 16px 0 104px;
  max-width: 1440px;
  height: 630px;
}

.info {
  display: flex;
}

.col-titles {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.col-titles ~ p {
  margin: 22px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.property {
  padding: 0 283px 0 223px;
}

.bottom_inscription {
  padding-top: 40px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
