@import url("./fonts.css");
@import "columns.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #383838;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 104px;
}

button {
  font-family: Roboto, sans-serif;
}

.sprites {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.title {
  text-align: center;
  padding: 120px 0 20px;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  left: calc(50% - 100px / 2);
  top: 100%;
  font-size: 40px;
  width: 0;
  height: 4px;
  background-color: #f5bd41;
  border: none;
  margin: 0 auto;
  transition: width 0.5s ease-out;
}

.title:hover::after {
  width: 100px;
}

.arrow_circle {
  width: 40px;
  height: 40px;
  background-color: #f3f3f4;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 4, 4, 0.25);
  position: relative;
}

.arrow {
  height: 21px;
  width: 9px;
  fill: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow_rotate_down {
  transform: rotate(90deg);
  box-shadow: 4px 0 4px rgba(0, 4, 4, 0.25);
}

/* HEADER BLOCK */
.header_background {
  background: #1212123f url("../images/header/castelmezzano.png") no-repeat top
    center;
  background-size: cover;
  min-height: 100vh;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  padding-top: 50px;
  height: 96px;
}

.nav_header > a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav_header > a::after {
  content: " ";
  position: absolute;
  left: calc(50% - 100px / 2);
  top: 135%;
  width: 0;
  height: 3px;
  background-color: #f5bd41;
  transition: width 0.4s;
}

.nav_header > a:hover::after {
  width: 50px;
  margin-left: 25px;
}

.nav_header_logo_link {
  width: 70%;
}

.nav_header_logo_svg {
  fill: #3077c6;
  height: 40px;
  width: 205px;
}

.nav_header_logo_link:hover::after {
  display: none;
}

.nav_header_attractions_link {
  margin-right: 20px;
}

.nav_header_night_svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.nav_header_account_svg {
  fill: #fff;
  width: 40px;
  height: 40px;
}

.nav_header_menu_svg {
  display: none;
}

.header_main {
  margin: 200px 0 0;
  color: #fff;
}

.header_main_title {
  font-size: 50px;
  font-weight: 500;
}

.header_main_info {
  margin-top: 142px;
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.destination_label,
.date_label,
.apartment_type_label {
  font-size: 18px;
  font-weight: 400;
  top: 20px;
  left: 24px;
  position: absolute;
  color: #383838;
  transition: 0.3s ease-in;
}

.date_label_span_media {
  display: none;
}

.date_label_media {
  display: none;
}

input:focus ~ .destination_label {
  color: #fff;
  top: -48px;
  left: 24px;
}

input:focus ~ .date_label {
  color: #fff;
  top: -48px;
  left: 24px;
}

input:focus ~ .apartment_type_label {
  color: transparent;
}

#main_info_destination,
#main_info_date_first,
#main_info_date_second,
#main_info_apartment_type {
  font-size: 18px;
  height: 58px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding-inline-start: 24px;
}

.main_info_destination {
  position: relative;
  width: 45%;
}

.main_info_destination_magnifier_svg {
  display: none;
}

.main_info_dates {
  display: flex;
  border: 3px solid #f5bd41;
  border-radius: 8px;
  width: 25%;
}

.main_info_date {
  position: relative;
}

.main_info_apartment_type {
  position: relative;
  width: 30%;
}

.apartment_type_label_media {
  display: none;
}

.main_info_search_button {
  height: 64px;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3077c6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.2s ease-out;
}

.main_info_search_button:hover {
  background-color: #1769b7;
}

.main_info_search_button:active {
  font-size: 20px;
}

.header_apps {
  display: flex;
  justify-content: center;
  padding: 119px 0;
}

.header_app_first_svg {
  margin-right: 16px;
  width: 135px;
  height: 40px;
}

.header_app_second_svg {
  width: 120px;
  height: 40px;
}

/* What do we offer BLOCK */
.offer_row {
  display: flex;
  margin: 88px 0 96px;
}

.offer_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 196px;
  font-size: 24px;
  font-weight: 400;
}

.offer_item_support_svg {
  height: 92px;
  fill: #3077c6;
}

.offer_item_communication_svg {
  height: 84px;
  fill: #3077c6;
}

.offer_item_booking_svg {
  width: 100px;
  height: 84px;
  fill: #3077c6;
}

.offer_item_reviews_svg {
  height: 80px;
  fill: #3077c6;
}

.offer_item a {
  text-decoration: none;
  color: #383838;
}

.offer_item a:hover {
  font-size: 23px;
}

/* HOMES BLOCK */
.homes_background {
  background-color: #eaf0f9;
  background-size: 100%;
}

.homes_row {
  display: flex;
  justify-content: space-between;
  padding: 84px 0 100px;
  position: relative;
}

.homes_item {
  font-size: 24px;
  font-weight: 400;
}

.homes_item > img,
.homes_item_title,
.homes_item_place {
  margin-bottom: 20px;
}

.homes_item_title {
  color: #3077c6;
}

.homes_item_place {
  color: #bfbfbf;
}

.homes_arrow {
  position: absolute;
  top: 33%;
  left: 98%;
}

.homes_arrow_media {
  display: none;
}

/* DESTINATIONS BLOCK */
.destinations_buttons {
  margin-top: 84px;
  background-color: #f3f3f4;
  border-radius: 8px;
  width: 624px;
}

.destinations_button {
  background-color: #f3f3f4;
  border-radius: 8px;
  border: none;
  padding: 0;
  width: 192px;
  height: 64px;
  font-size: 24px;
  font-weight: 400;
  color: #383838;
  transition: all 0.3s ease-out;
}

.destinations_button:hover {
  background-color: #3077c6;
  color: #fff;
}

.destinations_button_regions {
  background-color: #3077c6;
  color: #fff;
}

.destinations_button_places {
  width: 232px;
}

.destinations_row {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  color: #3077c6;
  position: relative;
}

.destinations_item > p {
  padding: 20px 0;
}

.destinations_item_filter {
  position: relative;
}

.destinations_filter {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(56, 56, 56, 0.4);
}

.destinations_item_filter:hover .destinations_filter {
  display: block;
}

.destinations_booking_button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 400;
  width: 44%;
  height: 15%;
  border-radius: 8px;
  background-color: #fff;
  color: #3077c6;
  border: 1px solid #3077c6;
  transition: all 0.2s ease-out;
}

.destinations_item_filter:hover .destinations_booking_button {
  display: block;
}

.destinations_booking_button:hover {
  background-color: #3077c6;
  color: #fff;
}

.destinations_arrow {
  padding: 28px 0 120px;
  display: flex;
  justify-content: center;
}

.destinations_arrow_media {
  display: none;
}

/* SING UP BLOCK*/
.sing_up_container {
  height: 200px;
  padding: 24px;
  background-color: #eaf0f9;
}

.sing_up_cross_svg {
  float: right;
  height: 26px;
  width: 26px;
}

.sing_up_logo_media {
  display: none;
}

.sing_up_main {
  height: 152px;
  display: flex;
  align-items: center;
}

.sing_up_main_info {
  padding-left: 24px;
  font-size: 24px;
  font-weight: 500;
}

.sing_up_main_info_media {
  display: none;
}

.sing_up_main_info_linebreak {
  display: none;
}

.sing_up_button {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  color: #3077c6;
  border: 1px solid #3077c6;
  transition: all 0.2s ease-out;
}

.sing_up_button:hover {
  background-color: #3077c6;
  color: #fff;
}

.sing_up_button_media {
  display: none;
}

/* GUESTS REVIEWS BLOCK */
.title_guests_media {
  display: none;
}

.guests_row {
  display: flex;
  justify-content: space-between;
  padding: 84px 0 100px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.guests_item {
  background-color: #eaf0f9;
  margin: 0 8px 20px;
}

.guests_item_photo {
  position: relative;
}

.quests_photo_filter {
  display: none;
  position: absolute;
  width: 100%;
  height: 8%;
  padding-left: 24px;
  background-color: rgba(56, 56, 56, 0.7);
  color: #fff;
  top: 91%;
}

.guests_item_photo:hover .quests_photo_filter {
  display: flex;
  align-items: center;
}

.quests_photo_filter_price {
  font-weight: 500;
  padding-left: 4px;
}

.guests_item_review {
  margin-top: 0;
  padding: 24px;
}

.quests_item_review_place_rate {
  display: flex;
  justify-content: space-between;
  color: #3077c6;
  margin-bottom: 28px;
}

.guests_item_review_place_type {
  margin-bottom: 16px;
  font-weight: 500;
}

.guests_item_review_rate {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #bfbfbf;
}

.guests_item_review_rate_count {
  margin-bottom: 8px;
  width: 48px;
  height: 32px;
  background-color: #10367c;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quests_item_review_user {
  display: flex;
  margin-bottom: 16px;
}

.quests_item_user_svg {
  height: 64px;
  width: 64px;
}

.quests_item_user_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 16px;
}

.quests_item_review_comment {
  width: 352px;
}

.guests_arrow {
  position: absolute;
  top: 27%;
  left: 99%;
}

.guests_nav_media {
  display: none;
}

/* FOOTER BLOCK */
.footer_background {
  background-color: #10367c;
  background-size: 100%;
}

.footer_info_logo_img {
  display: none;
}

.footer_info {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.footer_info_col {
  padding-bottom: 40px;
}

.footer_info_col a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
  transition: all 0.3s ease-out;
}

.footer_info_col a:hover {
  color: #3077c6;
}

.footer_info_lists {
  padding-left: 0;
}

.footer_info_lists > li {
  margin: 24px 0;
  list-style-type: none;
}

.footer_info_col_titles {
  font-size: 20px;
  font-weight: 500;
}

.footer_bottom_inscription {
  color: #fff;
  padding: 40px 0 120px;
  font-size: 14px;
  font-weight: 400;
}

/* @media queries */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 1439px) {
  .col-3 {
    width: 50%;
  }

  .homes_row {
    flex-wrap: wrap;
  }

  .homes_arrow {
    display: none;
  }

  .destinations_row {
    flex-wrap: wrap;
  }

  .guests_row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .guests_arrow {
    display: none;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1389px) {
  .destinations_filter {
    display: none;
  }

  .destinations_booking_button {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .nav_header_logo_link {
    width: 50%;
  }

  .header_main_info {
    background-color: #f5bd41;
    border: 4px solid #f5bd41;
    border-radius: 0;
    display: block;
    height: 296px;
    padding: 4px;
    margin-top: 40px;
  }

  .destination_label,
  .apartment_type_label,
  .date_label_media {
    display: flex;
    top: 16px;
    left: 12px;
    font-size: 20px;
    font-weight: 500;
  }

  .date_label_media {
    padding-top: 4px;
  }

  .apartment_type_label_media_item_quantity {
    font-size: 20px;
    font-weight: 500;
  }

  .date_label_span_media {
    display: contents;
  }

  .date_label,
  .apartment_type_label,
  .apartment_type_label_media_item {
    top: 6px;
    left: 8px;
    font-size: 16px;
    font-weight: 400;
  }

  input:focus ~ .destination_label {
    color: transparent;
    top: 16px;
    left: 12px;
  }

  input:focus ~ .date_label {
    color: transparent;
    top: 16px;
    left: 12px;
  }

  .main_info_destination_magnifier_svg {
    display: block;
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  .main_info_destination,
  .main_info_dates,
  .main_info_date,
  .main_info_apartment_type,
  .main_info_search_button {
    width: 100%;
    height: 64px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  #main_info_destination,
  #main_info_date_first,
  #main_info_date_second,
  #main_info_apartment_type {
    height: 64px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
  }

  #main_info_destination {
    padding-inline-start: 40px;
  }

  .main_info_dates {
    border: none;
    justify-content: space-between;
  }

  .main_info_date {
    width: 49%;
  }

  .apartment_type_label {
    width: 100%;
  }

  .apartment_type_label_main {
    display: none;
  }

  .apartment_type_label_media {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .apartment_type_label_media_item {
    width: 25%;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .apartment_type_label_media_line_svg {
    height: 32px;
    width: 1px;
  }

  .main_info_search_button {
    font-size: 24px;
  }

  .destinations_row {
    flex-wrap: wrap;
  }

  .destinations_filter {
    display: none;
  }

  .destinations_booking_button {
    display: none;
  }

  .footer_info {
    padding-right: 40px;
  }
}

@media screen and (min-width: 841px) and (max-width: 1024px) {
  .offer_row {
    flex-wrap: wrap;
  }

  .col-3 {
    width: 50%;
    margin-bottom: 70px;
  }

  .homes_row {
    flex-wrap: wrap;
  }

  .destinations_row {
    flex-wrap: wrap;
  }

  .destinations_filter {
    display: none;
  }

  .destinations_booking_button {
    display: none;
  }

  .footer_info {
    flex-wrap: wrap;
    padding: 120px 0 0 28px;
  }

  .col-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 840px) {
  .nav_header a:nth-child(2),
  a:nth-child(3) {
    display: none;
  }

  .nav_header_night_svg {
    width: 20px;
    height: 20px;
  }

  .nav_header_account_svg {
    width: 28px;
    height: 28px;
  }

  .nav_header_menu_svg {
    display: block;
    width: 28px;
    height: 20px;
  }

  .offer_row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .offer_line {
    display: none;
  }

  .col-3 {
    width: 100%;
    margin-bottom: 70px;
  }

  .homes_item {
    margin: 0 auto;
  }

  .destinations_row {
    display: flex;
    justify-content: center;
  }

  .destinations_filter {
    display: none;
  }

  .destinations_booking_button {
    display: none;
  }

  .footer_info {
    flex-wrap: wrap;
    padding: 120px 0 0 28px;
  }

  .col-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 720px) {
  .nav_header_logo_svg {
    width: 150px;
    height: 30px;
    margin-right: 40px;
  }

  .header_main_title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .header_main {
    margin: 40px 0 0;
  }

  .destination_label,
  .apartment_type_label,
  .date_label_media,
  .apartment_type_label_media_item_quantity {
    font-size: 15px;
  }

  .date_label,
  .apartment_type_label,
  .apartment_type_label_media_item {
    font-size: 12px;
  }

  .destinations_buttons {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .destinations_button {
    width: 30%;
    height: 32px;
    border: 1px solid #f3f3f4;
    border-radius: 4px;
    background-color: #fff;
  }

  .destinations_button_regions {
    background-color: #3077c6;
    color: #fff;
  }

  .destinations_button_places_title {
    display: none;
  }

  .sing_up_main_info {
    font-size: 16px;
    font-weight: 400;
  }

  .sing_up_main_user_icon {
    width: 50px;
    height: 50px;
  }

  .sing_up_cross_img {
    width: 18px;
    height: 18px;
  }

  .footer_info {
    flex-wrap: wrap;
  }

  .col-4 {
    width: 100%;
  }

  .footer_info_col_titles {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 16px;
    margin: 0;
  }

  .title {
    font-size: 28px;
    padding: 32px 0;
  }

  .title::after {
    display: none;
  }

  .arrow {
    height: 13px;
    width: 7px;
  }

  .arrow_circle {
    width: 28px;
    height: 28px;
  }

  .nav_header {
    padding-top: 0;
    max-width: 100%;
    height: 48px;
  }

  .nav_header_logo_svg {
    margin-right: 110px;
    width: 122px;
  }

  .nav_header_night_svg {
    width: 16px;
  }

  .nav_header_account_svg {
    width: 24px;
  }

  .nav_header_menu_svg {
    display: block;
    width: 24px;
  }

  .header_main_info {
    height: 232px;
    margin-top: 0;
  }

  .date_label_media {
    padding-top: 4px;
  }

  .main_info_destination_magnifier_svg {
    height: 16px;
  }

  .main_info_destination,
  .main_info_dates,
  .main_info_date,
  .main_info_apartment_type,
  .main_info_search_button {
    height: 48px;
  }

  #main_info_destination,
  #main_info_date_first,
  #main_info_date_second,
  #main_info_apartment_type {
    height: 48px;
  }

  .apartment_type_label_media_item {
    height: 36px;
  }

  .main_info_search_button {
    font-size: 19px;
  }

  .header_apps {
    padding: 32px 0 40px;
  }

  .offer_row {
    margin-top: 12px;
  }

  .homes_row {
    margin: 0 auto;
    padding: 0 0 32px;
  }

  .homes_item {
    display: none;
  }

  .homes_item_media {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 8px;
  }

  .homes_item > p {
    font-size: 16px;
  }

  .homes_arrow_media {
    display: block;
    position: absolute;
    top: 22%;
    left: 95%;
  }

  .destinations_buttons {
    margin-top: 0;
  }

  .destinations_button {
    font-size: 19px;
  }

  .destinations_item {
    display: none;
  }

  .destinations_arrow {
    display: none;
  }

  .destinations_row {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    position: relative;
  }

  .destinations_item_media {
    display: block;
    width: 48%;
  }

  .destinations_item_media > p {
    font-size: 12px;
    padding: 0;
    margin: 8px 0 40px;
  }

  .destinations_item_filter > img {
    width: 100%;
  }

  .destinations_filter {
    height: 97%;
  }

  .destinations_booking_button {
    font-size: 12px;
    width: 55%;
    height: 20%;
  }

  .destinations_arrow_media {
    display: block;
    position: absolute;
    top: 33%;
    left: 96%;
  }

  .sing_up_container {
    height: 106px;
    padding: 24px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sing_up_main_user_icon {
    display: none;
  }

  .sing_up_cross_svg {
    height: 16px;
    width: 16px;
  }

  .sing_up_logo_media {
    display: block;
  }

  .sing_up_button_media {
    display: block;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #3077c6;
  }

  .sing_up_button {
    display: none;
  }

  .sing_up_main {
    height: 58px;
    display: flex;
    align-items: center;
  }

  .sing_up_main_info {
    padding-left: 0;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
  }

  .sing_up_main_info_media {
    display: contents;
  }

  .sing_up_main_info_linebreak {
    display: flex;
  }

  .guests_container_background {
    background-color: #eaf0f9;
  }

  .title_guests_main {
    display: none;
  }

  .title_guests_media {
    display: block;
  }

  .guests_row {
    padding: 0 0 32px;
    font-size: 15px;
  }

  .guests_item {
    display: none;
  }

  .guests_item_media {
    display: block;
    width: 100%;
  }

  .guests_item_photo > img {
    width: 100%;
  }

  .guests_item_review {
    padding: 12px 0 0;
  }

  .quests_item_review_place_rate {
    margin-bottom: 12px;
  }

  .quests_item_user_svg {
    width: 52px;
    height: 52px;
  }

  .quests_item_review_comment {
    width: 100%;
  }

  .guests_nav_media {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .guests_nav_media_svg {
    height: 8px;
  }

  .footer_info_logo_img {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    height: 100px;
    width: 98px;
    fill: #fff;
  }

  .footer_info {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .col-4 {
    width: 30%;
  }

  .footer_info_col {
    height: 20px;
    margin-bottom: 0;
  }

  .footer_info_col_titles {
    font-size: 15px;
    text-decoration: underline;
  }

  .footer_info_lists {
    display: none;
  }

  .footer_bottom_inscription {
    padding: 12px 0 40px;
    text-align: center;
    font-size: 12px;
  }
}
